
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">
        <button class="btn">GnApp</button>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Menu</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" id="pills-menu-tab" href="/admin">Menu</a>
                    <a class="dropdown-item" id="pills-kategori-tab" href="/admin/kategori">Kategori Menu</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-user-tab" href="/admin/user">Pengguna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-resto-tab" href="/admin/resto">Tentang Resto</a>
            </li>
            <li class="nav-item">
                <a href="/logoutAdmin" class="btn btn-danger">Keluar</a>
            </li>
        </ul>
    </div>
</nav>

